Thumbs.db
*.pyc
*.spy*
*.gexf
*.bak
*.spec
Development/build/
Development/dist/
Development/DONNEES
Development/cles-epo.txt
Development/*.spec
Development/specs/
Current/lextab.py
Current/yacctab.py
Development/lextab.py
Development/yacctab.py