Thumbs.db
*.pyc
*.spy*
*.gexf
*.bak
*.spec
Donnees
Development/build/
Development/dist/
Development/DONNEES
Development/cles-epo.txt
Development/*.spec
Development/specs/
Current/lextab.py
Current/yacctab.py
Development/lextab.py
Development/yacctab.py
Cles-epo.txt
requete.cql
*.log
Development/TEMPOREQ/requeteOldrespirator.cql
REQUESTS/respirator.cql